.dropdown-menu {
  background: white;
  width: 100%;
  position: absolute;
  list-style: none;
  text-align: start;
  top: 65px;
  height: 150px;
  padding: 2em 3em;
  left: 0;
  display: flex;
  color: black;

  h3 {
    width: 30%;
    margin-right: 10em;
  }
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-menu li:hover {
  text-decoration: underline;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
