.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;

  li {
    background: #1888ff;
    cursor: pointer;

    &:hover {
      background: #5cabff;
    }
  }

  .clicked {
    display: none;
  }
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
