.brand_detail {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  .breadcrumb {
    margin: 4rem 6rem;
  }

  .return_footer {
    margin: 4rem;
    color: black;
  }

  .return_footer {
    text-align: center;
  }

  .brand_header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
    .logo {
      width: 20%;
      transform: translateX(-170%);
      animation: slideIn 1s cubic-bezier(0.53, 0.36, 0.69, 1.47) 0.5s 1 forwards;
    }

    .picture {
      width: 40%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 20px;
      transform: translateX(135%);
      animation: slideIn 1s cubic-bezier(0.53, 0.36, 0.53, 1.16) 0.5s 1 forwards;
    }
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }

  .brand_body {
    background-color: var(--light);
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;

    section {
      width: 50%;

      p {
        margin-top: 2.5rem;
      }
    }

    aside {
      h4 {
        margin-top: 2rem;
      }

      h4:first-child {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .brand_detail {
    .return_header {
      text-align: center;
    }
    .brand_header {
      flex-direction: column;
      text-align: center;
      img {
        margin-top: 3rem;
        margin-left: 0;
        width: 60%;
      }
    }

    .brand_body {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      section {
        width: 100%;
      }
    }
  }
}
