section.mission {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 10px;
  }

  div {
    padding: 2rem;
    width: 45%;
  }
}
