@use "../../sass/base/" as *;
.SecInfo {
  display: flex;
  padding-top: 12rem;
  min-height: 90vh;

  p {
    margin: 1rem 0 2rem 0;
    max-width: 45ch;
  }
}
.text {
  margin-left: 1.5rem;
}
.h1 {
  top: 1rem;
  max-width: 25ch;
}

.images {
  position: relative;
  width: 50%;
  height: max-content;
  padding-left: 2rem;
  img {
    position: absolute;
    width: 50%;

    &:first-child {
      left: 5rem;
      top: -2rem;
    }
    &:nth-child(2) {
      right: 2.8rem;
      z-index: 1;
      width: 35%;
    }
    &:last-child {
      top: 11rem;
      left: 9rem;
    }
  }
}
