.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
section.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0 0;
  padding: 4rem 6rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    .button_carousel {
      margin-top: 0 !important;
    }
  }

  .carousel_main {
    position: relative;
    z-index: 0;

    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      box-shadow: inset -8px -2px 20px 15px rgba(255, 255, 255, 1);
    }
    /* SCROLL SNAPPING */
    .scroll-container {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      list-style: none;

      // pointer-events: none;
    }
    .scroll-item {
      scroll-snap-align: center;
      flex-direction: column;
      /* make it square */
      width: 20em;

      /* center contents */
      display: flex;
      justify-content: center;
      align-items: center;
      // z-index: -1;

      img {
        max-width: 15rem;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: 0 0;
        // height: 300px;

        margin-bottom: 1rem;
        border-radius: 15px;
      }

      h4 {
        margin-bottom: 4rem;
        text-align: center;
      }
    }
    /* make 3rd item bigger to show that items don't need to have the same width */

    /* FLEXBOX LAYOUT */
    .scroll-container[data-layoutmethod="flexbox"] {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding-top: 1rem; /* vertically align children */
      // gap: 2rem;
    }
    .scroll-container[data-layoutmethod="flexbox"] .scroll-item {
      flex: 0 0 auto;
    }
  }

  // .imgSquare {
  //   width: 20%;
  // }

  // .carousel {
  //   width: 80%;
  //   background-color: var(--desert);
  //   border-radius: 20px;
  //   padding: 5rem;
  //   display: flex;
  //   margin-left: 10%;
  //   color: white;

  //   &.slide {
  //     opacity: 100%;
  //   }

  //   .carousel-inner {
  //     width: 100%;
  //     display: flex;

  //     .active.carousel-item {
  //       justify-content: center;
  //       align-items: flex-start;
  //     }
  //     img {
  //       width: 40%;
  //       margin-right: 2rem;
  //     }

  //     p {
  //       font-size: 0.9rem;
  //     }
  //   }
  // }
}

@media screen and (max-width: 1024px) {
  section.carousel .carousel .carousel-inner {
    padding: 1rem;
    .carousel-item {
      flex-direction: column;
      align-items: baseline;
    }
    img {
      width: 60%;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 769px) {
  section.carousel {
    padding: 0;

    .header {
      padding: 0 3rem;
      margin-bottom: 2rem;
      .button_carousel {
        position: absolute;
        bottom: -5rem;
        left: 3rem;
      }
    }

    .carousel {
      width: 90%;
      margin: 5%;
      padding: 3rem;
      .carousel-inner {
        padding: 1rem;

        img {
          width: 90%;
        }
      }
    }
  }
}
