.news {
  display: flex;
  justify-content: center;
  padding: 6rem 4rem;
  background: var(--light);
  width: 100%;

  ._text {
    flex-direction: column;
    h5 {
      width: 70%;
      font-family: var(--font-body);
    }
  }
}

@media screen and (max-width: 769px) {
  .news {
    flex-direction: column;

    h5 {
      width: 100%;
    }
  }
}
