.plans {
  .header {
    padding: 0 6rem;
  }
  .minHeight {
    min-height: 65vh;
  }
}

@media screen and (max-width: 769px) {
  .plans {
    .header {
      padding: 0;
      text-align: center;
    }

    .minHeight {
      min-height: fit-content;
    }
  }
}
