section.works {
  padding: 0 6rem;
  margin: 5rem 0 12rem 0;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    h2 {
      top: 1rem;
      max-width: 22ch;
    }
  }

  img {
    position: relative;
    width: 40%;
    height: max-content;
    margin-right: 4em;
  }

  .steps {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;

    div {
      margin-bottom: 1em;

      h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #d1cbbe;
      }

      h3 {
        font-size: 1.5rem;
        color: #8b5028;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  section.works {
    flex-direction: column;
    margin-top: 10rem;
    padding: 0 3rem;

    .steps {
      width: 100%;
      flex-direction: row;
      margin: 0;
      justify-content: space-evenly;
      margin-bottom: 2rem;

      div {
        h1 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
