@use "../../sass/base/" as *;

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.SecInfo {
  display: flex;
  flex-direction: row;
  padding-top: 8rem;
  min-height: 90vh;

  p {
    max-width: 45ch;
  }
}
.text {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    max-width: 18ch;
  }
}

.element {
  width: 20%;
  position: absolute;
  right: 3rem;
  z-index: -99;
  opacity: 50%;
}

.images {
  position: relative;
  width: 60%;
  height: max-content;
  padding-left: 2rem;
  img {
    position: absolute;
    width: 50%;

    &:first-child {
      left: 5rem;
      top: -2rem;
      border-radius: 15px;
    }
    &:nth-child(2) {
      right: 2.8rem;
      z-index: 1;
      width: 35%;
    }
    &:last-child {
      top: 11rem;
      left: 9rem;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 769px) {
  .SecInfo {
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;

    .images {
      position: relative;
      display: flex;
      padding: 0;
      justify-content: center;

      img {
        width: 70%;
        position: relative;

        margin: 0.5rem;
        max-width: 100%;
        height: 100%;

        &:first-child {
          left: 0;
          top: 2rem;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
