.news {
  display: flex;
  justify-content: center;
  padding: 6rem 4rem;
  background: var(--light);
  width: 100%;

  h5 {
    width: 40%;
    margin-right: 3rem;
    font-family: var(--font-body);
  }
}

@media screen and (max-width: 769px) {
  .news {
    flex-direction: column;

    h5 {
      width: 100%;
    }
  }
}
