/*littlessentials colors*/
$whiteOff: #f0f0f0;
$light: #f1e9de;
$pebble: #d1cbbe;
$sun: #e8c37f;
$tan: #cf9345;
$desert: #8b5028;
$blackIsh: #222222;

$colorVars: (
  "whiteOff": #f0f0f0,
  "light": #f1e9de,
  "pebble": #d1cbbe,
  "sun": #e8c37f,
  "tan": #cf9345,
  "desert": #8b5028,
  "blackIsh": #222222,
);
