.sc-launcher {
  background-color: var(--tan);
}

.sc-chat-window.opened {
  z-index: 99;
  height: 65%;
  width: 30%;

  .sc-header {
    background-color: var(--desert);
  }

  .sc-header--img {
    width: 15%;
  }
}
