@use "../../index.scss";

.button {
  border-style: none;
  background-color: #8b5028;
  color: white;
  font-size: 0.9rem;
  padding: 9px 32px;
  border-radius: 20px;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;

  &:hover {
    background-color: transparent;
    color: #8b5028;
    border: 1px solid #8b5028;
  }
}
