.subscriptionWrapper {
  min-height: 90vh;
}

.stepsFormWrapper {
  min-height: 85;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.asideWrapper {
  min-height: 85;
  aside {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

.formSize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
}

.box {
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  aspect-ratio: 2;
  cursor: pointer;

  &:nth-child(odd) {
    justify-self: end;
  }

  .label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 5px;
    font-size: 110%;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
}

.stepsContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0;
}

input[type="radio"] {
  display: none;
  &:checked ~ .label > .chosed {
    border: solid var(--desert) 2px;
    background-color: var(--sun);
  }
  &:checked ~ .chosed {
    border: solid var(--desert) 2px;
    background-color: var(--sun);
  }
}

.step {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-size: 110%;
  .label {
    cursor: pointer;
  }
  .circle {
    padding: 0.5rem 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid black 2px;
    transition: background-color 0.3s ease;
    &.check {
      color: white;
      background-color: var(--desert);
    }
  }

  // p {
  // }
}

.colorList {
  list-style: none;
}

.formsWrapper {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

.formsSlider {
  & > div {
    width: 25%;
  }
}

.radioDelivery input[type="radio"] {
  display: block;
}

.appear {
  opacity: 0;
  transform-origin: center;
  // transform: scale(0.9);
  // transform: translateX(100%);

  animation: appearing 0.5s ease 1 forwards;
}

@keyframes appearing {
  to {
    opacity: 1;
    // transform: scale(1);
    // transform: translateX(0);
  }
}
