.subscriptionWrapper {
  min-height: 90vh;
  font-family: var(--font-body);
}

.stepsFormWrapper {
  min-height: 85;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  .justify-content-aroun.mt-3.options.row {
    &:hover {
      color: red;
    }
  }
}

.asideWrapper {
  min-height: 85;
  aside {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
  }
}

.formSize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
}

.box {
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  aspect-ratio: 2;
  cursor: pointer;

  &:nth-child(odd) {
    justify-self: end;
  }

  .label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(240 240 240) 1px;
    box-shadow: rgb(167 167 167 / 20%) 0px 2px 11px;
    border-radius: 5px;
    font-size: 110%;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--light);
    }
  }
}

.stepsContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0 0;
}

input[type="radio"] {
  display: none;
  &:checked ~ .label > .chosed {
    color: white;
    background-color: var(--desert);
  }
  &:checked ~ .chosed {
    background-color: var(--sun);
  }
}

.step {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-size: 110%;
  .label {
    cursor: pointer;
  }
  .circle {
    padding: 0.5rem 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--light);
    opacity: 40%;
    transition: background-color 0.3s ease;
    &.check {
      color: white;
      background-color: var(--sun);
      opacity: 100%;
    }
  }
}

.infoAside {
  background-color: var(--sun);
}

.colorList {
  list-style: none;
}

.formsWrapper {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

.formsSlider {
  & > div {
    width: 25%;
  }
}

.radioDelivery input[type="radio"] {
  display: block;
}

section.appearSMS {
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 110%;
  opacity: 0;
  transform-origin: center;
  animation: appearing 0.5s ease 1 forwards;

  p {
    margin-top: 1rem;
  }
}

.appear {
  opacity: 0;
  transform-origin: center;

  animation: appearing 0.5s ease 1 forwards;
}

@keyframes appearing {
  to {
    opacity: 1;
  }
}

.thanksModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.745);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    max-width: 500px;
    width: 80%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

.btnHover:hover {
  background-color: var(--light);
}

.jump {
  animation: jumping 0.5s ease 1;
}

@keyframes jumping {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background-color: rgb(184, 250, 184);
  }
}

@media only screen and (max-width: 769px) {
  .asideWrapper {
    aside {
      display: none;
    }
  }
  .stepsContainer {
    position: sticky;
    top: 3.5rem;
    background-color: white;
    z-index: 10;
  }
}
