.lowcarbon {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .section1 {
    background-color: var(--pebble);
    padding: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      width: 50%;
    }
  }

  .section2 {
    margin: 6rem 4rem;
    text-align: center;
  }

  .section3 {
    padding: 4rem 15rem;

    article {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
  }
}
