.lowcarbon {
  display: flex;
  flex-direction: column;
  background-color: var(--light);

  .section1 {
    background-color: var(--pebble);
    padding: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      width: 50%;
    }
  }

  .section2 {
    margin: 8rem 4rem 6rem 4rem;
    text-align: center;
  }

  .section3 {
    padding: 4rem 10rem;

    article {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 6rem;
      align-items: center;

      h4 {
        width: 15ch;
      }
    }
    img {
      width: 30%;
    }
  }
}

@media screen and (max-width: 769px) {
  .lowcarbon {
    .section1 p {
      width: 100%;
    }
    .section3 {
      .reverse {
        flex-direction: column-reverse;
      }
      article {
        flex-direction: column;

        h4 {
          text-align: center;
        }
        img {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
