@use "../../sass/base/" as *;

.NavBar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: var(--tan);

  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: var(--font-body);

  color: white;
  opacity: 0;
  // margin-top: -87px;
  pointer-events: none;
  transform-origin: top;
  transition: opacity 0.2s ease-out;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.mainNav,
.subNav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.subNav {
  button {
    border: none;
    color: white;
    background-color: var(--tan);
    font-weight: lighter;
    font-size: 1.1rem;
  }
}
