.landing_layout {
  p {
    font-size: 2rem;
    width: 75%;
    font-weight: 200;
  }

  .second,
  .third {
    display: flex;
    padding: 7rem 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;

    .landing_wrapper {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    p {
      width: 60%;
      margin: 0 auto;
    }
  }

  .third {
    background-color: var(--desert);
    padding: 6rem 0;
    color: white;

    h3 {
      margin-left: 14.8rem;
      margin-bottom: 1rem;
    }
  }

  .testimonial {
    background-color: var(--sun);
    border-radius: 20px;
    margin-bottom: 7rem;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;

    p {
      margin: 0 auto;
    }
  }

  .news {
    flex-direction: column;
    padding: 4rem 30%;
    background-color: white;

    h5 {
      margin-right: 3rem;
      font-size: 3rem;
      width: 100%;
      color: var(--tan);
      margin-bottom: 2rem;
    }

    .form-check {
      display: flex;
      align-items: center;
      .form-check-label {
        font-size: 0.8rem;
        margin-left: 1rem;
      }
    }
  }

  .instagram {
    margin-top: 10rem !important;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.btn.btn-primary {
  float: right;
}
