@use "../../sass/base/" as *;

body {
  font-family: var(--font-body);
}

.layout {
  // padding-top: 8em;
  min-height: 100vh;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.layout_innerpages {
  padding: 5rem;
  min-height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin: 4rem;
  }

  img {
    width: 50%;
    border-radius: 10px;
    margin-right: 3rem;
  }

  .articles_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
    align-items: baseline;

    article {
      width: 40%;
      margin: 2rem 1rem;
    }
  }

  .p_inner {
    width: 50%;
  }

  &.faq {
    flex-direction: column;

    .accordion .accordion-flush .accordion-item {
      width: 70%;
    }

    h5 {
      margin-top: 3rem;
      font-family: var(--font-body);
    }

    p {
      font-family: var(--font-body);
    }
  }

  &.getintouch {
    align-items: baseline;

    h6 {
      font-family: var(--font-body);
    }

    section {
      width: 45%;
      align-items: baseline;
      margin-left: 5rem;
    }

    &.guide {
      section {
        width: 45%;
      }
      h3 {
        font-family: var(--font-body);
        margin-top: 2rem;
      }
    }
  }

  .social a {
    margin-right: 1em;
    font-weight: 300;
  }

  &.brands {
    display: flex;
    flex-direction: column;

    p {
      width: 55%;
      margin-bottom: 4rem;
    }
    .card_wrapper {
      width: 100%;
      margin-top: 3rem;

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(208px, 348px));
        gap: 2rem;
        justify-content: center;

        li {
          list-style: none;
        }
      }

      .card_brand {
        margin: 1rem;
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 0px;
      }
    }
  }

  &.circularity {
    section {
      width: 50%;
      margin-left: 3rem;
    }
  }
}

.policy {
  padding: 5rem;
}

.floating_actions {
  display: flex;
  align-items: center;

  // .co2_button {
  //   border-radius: 50%;
  //   padding: 1.5rem;
  //   height: 140px;
  //   position: fixed;
  //   bottom: 0;
  //   z-index: -99;
  //   margin: 1rem;
  // }
}

.guide_wrapper .banner section {
  display: flex;
  align-items: center;

  p,
  h1 {
    width: 55%;
  }
}

@media screen and (max-width: 769px) {
  .layout_innerpages {
    padding: 3rem;

    &.getintouch {
      flex-direction: column;
      section {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        form {
          width: 90%;
        }
      }

      &.guide section {
        width: 100%;
      }
    }

    &.brands {
      p {
        width: 100%;
        margin-bottom: 4rem;
      }
    }

    .guide_wrapper .banner section {
      padding: 2rem;
      p,
      h1 {
        width: 100%;
      }
    }
    .policy {
      padding: 2rem;

      .tab-content > .active {
        margin-top: 3rem;
      }
    }
  }
}
