@use "../../sass/base/" as *;

body,
p {
  font-family: var(--font-body);
}

.layout {
  min-height: 100vh;

  .manifesto_mobile {
    display: none;
  }
}

.layout_innerpages {
  padding: 5rem 0;
  min-height: 100vh;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .social a {
      margin-right: 1em;
      font-weight: 300;
    }

    img {
      width: 140%;
    }

    h6 {
      font-weight: 200;
      font-size: 1.3rem;
    }
  }

  section {
    width: 45%;
    align-items: baseline;
    margin-left: 5rem;

    h3:not(:first-child) {
      font-family: var(--font-body);
      margin-top: 2rem;
    }
    h3:first-child {
      font-family: var(--font-body);
    }

    h6 {
      font-family: var(--font-body);
    }

    .btn-primary {
      margin-top: 3rem;
    }
  }

  &.faq {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .accordion.accordion-flush {
      width: 65%;

      .accordion-item {
        .accordion-button.collapsed {
          &:hover {
            background-color: var(--light);
          }
        }
        .accordion-body {
          font-family: var(--font-body);
        }
      }
    }

    h5 {
      margin-top: 3rem;
      font-family: var(--font-body);
    }

    p {
      font-family: var(--font-body);
    }

    section {
      margin: 0 auto;
      text-align: center;
    }
  }

  &.brands {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 55%;
      margin-bottom: 4rem;
    }
    .card_wrapper {
      width: 100%;
      margin-top: 3rem;

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(208px, 348px));
        gap: 2rem;
        justify-content: center;

        li {
          list-style: none;
        }
      }

      .card_brand {
        margin: 1rem;

        &.card {
          border: none;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
          border-radius: 15px;
        }

        .card-body {
          padding: 2rem;

          .card-title.h5 {
            font-weight: 200;
            font-size: 1.8rem;
          }
        }
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
      }
    }
    .card_wrapper_ngos {
      width: 100%;
      margin-top: 3rem;
      display: flex;
      justify-content: space-evenly;
      .card_brand {
        margin: 1rem;

        &.card {
          border: none;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
          border-radius: 15px;
        }
        .card-body {
          padding: 2rem;

          .card-title.h5 {
            font-weight: 200;
            font-size: 1.8rem;
          }
        }
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
      }
    }
  }
}

.policy {
  padding: 5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.guide_wrapper .banner section {
  display: flex;
  align-items: center;

  p,
  h1 {
    width: 55%;
  }
}

.floating_actions {
  display: flex;
  align-items: center;

  .co2_button {
    position: fixed;
    left: 2rem;
    bottom: 1.5rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

.fade.modal.show {
  .modal-dialog {
    max-width: 70%;

    .modal-content {
      padding: 2rem;
      background-color: var(--pebble);
      color: var(--desert);

      .modal-header {
        border-bottom: none;
        .modal-title {
          font-size: 2.3rem;
        }
      }

      .modal-body {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          width: 50%;
        }

        .right {
          h2 {
            font-size: 6rem;
            margin-bottom: -0.5rem;
            color: var(--whiteOff);
          }

          p {
            font-size: 2rem;
            margin-bottom: 3rem;
            text-transform: uppercase;
          }
        }
      }

      .modal-footer {
        border-top: none;
        display: flex;
        justify-content: space-between;

        p {
          text-transform: uppercase;
          font-size: 1.3rem;
          color: var(--tan);
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .co2_button.btn.btn-primary {
    display: none;
  }
  .layout_innerpages {
    padding: 3rem;

    &.getintouch {
      flex-direction: column;
      section {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        form {
          width: 90%;
        }
      }

      &.guide section {
        width: 100%;
      }
    }

    &.brands {
      p {
        width: 100%;
        margin-bottom: 4rem;
      }
    }

    .guide_wrapper .banner section {
      padding: 2rem;
      p,
      h1 {
        width: 100%;
      }
    }
    .policy {
      padding: 2rem;

      .tab-content > .active {
        margin-top: 3rem;
      }
    }

    &.faq {
      .accordion.accordion-flush {
        width: 100%;
      }
    }
  }
}

.nvt_list_selected {
  border: 2px solid red;
  background-color: aqua;
}
