body {
  font-family: var(--font-body);
}

.layout {
  padding-top: 8em;
  min-height: 100vh;
}

.layout_innerpages {
  padding: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
  }

  img {
    width: 50%;
    border-radius: 10px;
    margin-right: 3rem;
  }

  .articles_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
    align-items: baseline;

    article {
      width: 40%;
      margin: 2rem 1rem;
    }
  }
  .accordion .accordion-flush .accordion-item {
    width: 70%;
  }
}

.floating_actions {
  display: flex;
  align-items: center;
}
