.svgContainer {
  width: 100px;
}

.bgColor {
  fill: antiquewhite;
}

.acentColor {
  fill: black;
}

.leftTop {
  transition: transform 0.4s;
}
.face {
  transform-origin: center;
  transition: transform 0.3s;
}

.face:hover {
  transform-origin: center;
  transform: rotate(90deg);
  transition: transform 0.3s 0.2s;
  .leftTop {
    fill: black;
    transform: translate(12.1px, 75.8px) rotate(-90deg);
    transition: transform 0.2s 0s;
  }
}
