@use "../../sass/base/" as *;
.SecInfo {
  font-family: var(--font-body);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;

  p {
    margin-top: 2rem;
    max-width: 45ch;
  }
}
.text {
  width: 50%;
}
.h2 {
  top: 1rem;
  max-width: 25ch;
}

.images {
  position: relative;
  width: 50%;
  height: max-content;
  padding-left: 2rem;
  background-color: aquamarine;
  img {
    position: absolute;
    width: 50%;
    &:first-child {
      width: 80%;
    }
  }
}
