.slider {
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .slider_container {
    width: 70%;
    height: auto;
    background-color: #8b5028;
    border-radius: 20px;
    min-height: 300px;
    .slide_img {
      width: 30%;
      margin: 2rem;
    }

    .slide_text {
      display: flex;
      align-items: center;

      p {
        width: 80%;
      }
    }
  }
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  color: black;
}
